
microprocessors/nios_integrated_labs/adc/output_files/analog_to_digital.done
microprocessors/nios_integrated_labs/adc/output_files/analog_to_digital.cdf
microprocessors/nios_integrated_labs/adc/db/scfifo_kn51.tdf
microprocessors/nios_integrated_labs/adc/db/scfifo_fo61.tdf
microprocessors/nios_integrated_labs/adc/db/scfifo_ds61.tdf
microprocessors/nios_integrated_labs/adc/db/prev_cmp_analog_to_digital.qmsg
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_wr_control_pl_stage.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_ts_req_generator.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_transacto_lite.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_timestamp_monitor.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_rom.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_wr_control.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_segmentiser.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_regs.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_rd_control.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_header_parser.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_trace_capture_controller.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_std_synchronizer_nocut.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_reset_synchronizer.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_reset_controller.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_reset_controller.sdc
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_mgmt_reset.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_traffic_limiter.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_slave_translator.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_slave_agent.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_reorder_memory.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_master_translator.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_master_agent.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_burst_uncompressor.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_merlin_arbitrator.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_jtag_streaming.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_jtag_sld_node.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_jtag_dc_streaming.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_dcfifo_synchronizer_bundle.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_pipeline_stage.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_pipeline_base.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_packets_to_bytes.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_jtag_interface.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_jtag_interface.sdc
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_idle_remover.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_idle_inserter.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_clock_crosser.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_st_bytes_to_packets.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_sc_fifo.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_mm_bridge.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_dc_fifo.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/altera_avalon_dc_fifo.sdc
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_2.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_1.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_rsp_mux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_rsp_demux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_router_001.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_router.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_cmd_mux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_cmd_demux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_avalon_st_adapter_error_adapter_0.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0_avalon_st_adapter.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mm_interconnect_0.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_mem.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_demux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_capture_width_state_ram.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_capture_width_data_ram.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_capture_width.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_capture_remap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_capture_mux0.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_avalon_st_adapter_data_format_adapter_0_state_ram.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_avalon_st_adapter_data_format_adapter_0_sop_ram.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_avalon_st_adapter_data_format_adapter_0_data_ram.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_avalon_st_adapter_data_format_adapter_0.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric_avalon_st_adapter.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_trfabric.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_t2h_channel_adap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_mux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_mgmt_time_adap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_mgmt_demux_port_adap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_mgmt_demux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_mgmt_channel_adap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_h2t_channel_adap.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric_demux.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_stfabric.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_splitter.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_sldfabric.vhd
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_presplit.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_ident.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_host_link_jtag_h2t_timing.sv
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab_host_link_jtag.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/submodules/alt_sld_fab_alt_sld_fab.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab_wrapper_hw.tcl
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab__report.xml
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab__report.html
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab.v
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab.sopcinfo
microprocessors/nios_integrated_labs/adc/db/ip/sld32bad95d/alt_sld_fab.qip
microprocessors/nios_integrated_labs/adc/db/cntr_n2b.tdf
microprocessors/nios_integrated_labs/adc/db/cntr_m2b.tdf
microprocessors/nios_integrated_labs/adc/db/cntr_337.tdf
microprocessors/nios_integrated_labs/adc/db/cmpr_978.tdf
microprocessors/nios_integrated_labs/adc/db/analog_to_digital_partition_pins.json
microprocessors/nios_integrated_labs/adc/db/analog_to_digital.sld_design_entry.sci
microprocessors/nios_integrated_labs/adc/db/analog_to_digital.quiproj.22984.rdr.flock
microprocessors/nios_integrated_labs/adc/db/analog_to_digital.db_info
microprocessors/nios_integrated_labs/adc/db/altsyncram_v5s1.tdf
microprocessors/nios_integrated_labs/adc/db/altsyncram_rqn1.tdf
microprocessors/nios_integrated_labs/adc/db/altsyncram_plc1.tdf
microprocessors/nios_integrated_labs/adc/db/altsyncram_m4g1.tdf
microprocessors/nios_integrated_labs/adc/db/altsyncram_dlg1.tdf
microprocessors/nios_integrated_labs/adc/db/altsyncram_8nb1.tdf
microprocessors/nios_integrated_labs/adc/db/a_fefifo_c6e.tdf
microprocessors/nios_integrated_labs/adc/db/a_dpfifo_vu11.tdf
microprocessors/nios_integrated_labs/adc/db/a_dpfifo_qv21.tdf
microprocessors/nios_integrated_labs/adc/db/a_dpfifo_3o41.tdf
microprocessors/nios_integrated_labs/adc/db/.cmp.kpt
microprocessors/nios_integrated_labs/adc/analog_to_digital.qsf
microprocessors/nios_integrated_labs/adc/analog_to_digital.qpf
microprocessors/nios_integrated_labs/adc/analog_to_digital.bdf
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/fiftyfivenm_adcblock_top_wrapper.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/fiftyfivenm_adcblock_primitive_wrapper.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/chsel_code_converter_sw_to_hw.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_trace_monitor_endpoint_wrapper.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_trace_adc_monitor_wa_inst.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_trace_adc_monitor_wa.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_trace_adc_monitor_core.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_std_synchronizer_nocut.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_reset_synchronizer.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_reset_controller.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_reset_controller.sdc
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_sequencer_ctrl.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_sequencer_csr.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_sequencer.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_sample_store_ram.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_sample_store.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_control_fsm.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_control_avrg_fifo.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_control.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_modular_adc_control.sdc
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_traffic_limiter.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_slave_translator.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_slave_agent.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_reorder_memory.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_master_translator.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_master_agent.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_burst_uncompressor.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_merlin_arbitrator.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_jtag_streaming.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_jtag_sld_node.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_jtag_dc_streaming.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_splitter.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_pipeline_stage.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_pipeline_base.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_packets_to_bytes.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_jtag_interface.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_jtag_interface.sdc
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_idle_remover.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_idle_inserter.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_clock_crosser.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_st_bytes_to_packets.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_sc_fifo.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/altera_avalon_packets_to_master.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_pll.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_rsp_mux.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_rsp_demux.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_router_001.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_router.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_cmd_mux.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_cmd_demux.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_avalon_st_adapter_error_adapter_0.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0_avalon_st_adapter.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_mm_interconnect_0.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_avalon_bridge_timing_adt.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_avalon_bridge_p2b_adapter.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_avalon_bridge_b2p_adapter.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_avalon_bridge.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_timing_adapter_1.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_timing_adapter_0.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_data_format_adapter_0.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_001_timing_adapter_1.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_001_timing_adapter_0.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_001_data_format_adapter_0.sv
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter_001.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_avalon_st_adapter.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc_adc_monitor_internal.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/submodules/adc_core_adc.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/adc_core.v
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/adc_core.qip
microprocessors/nios_integrated_labs/adc/adc_core/synthesis/adc_core.debuginfo
microprocessors/nios_integrated_labs/adc/adc_core/adc_core_inst.vhd
microprocessors/nios_integrated_labs/adc/adc_core/adc_core_inst.v
microprocessors/nios_integrated_labs/adc/adc_core/adc_core_generation_previous.rpt
microprocessors/nios_integrated_labs/adc/adc_core/adc_core_generation.rpt
microprocessors/nios_integrated_labs/adc/adc_core/adc_core_bb.v
microprocessors/nios_integrated_labs/adc/adc_core/adc_core.xml
microprocessors/nios_integrated_labs/adc/adc_core/adc_core.html
microprocessors/nios_integrated_labs/adc/adc_core/adc_core.cmp
microprocessors/nios_integrated_labs/adc/adc_core/adc_core.bsf
microprocessors/nios_integrated_labs/adc/adc_core.sopcinfo
microprocessors/nios_integrated_labs/adc/adc_core.qsys
microprocessors/nios_integrated_labs/adc/.qsys_edit/preferences.xml
microprocessors/nios_integrated_labs/adc/.qsys_edit/filters.xml
microprocessors/nios_integrated_labs/adc/.qsys_edit/adc_core_schematic.nlv
microprocessors/nios_integrated_labs/adc/.qsys_edit/adc_core.xml
microprocessors/nios_integrated_labs/adc/analog_to_digital.qws
